*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  overflow-x: hidden;
  text-decoration: none;
  list-style: none;
  transition: all linear .2s;
}

/* --Navbar-- */
.navbar{
  background: rgb(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
 
}

.logo_image{
  width: 100px;
  height: 100px;
  margin: 12px 15px;
  padding: 11px 10px;
  display: flex;
  align-items: center;
}

.logo_image img{
  height: 70%;
  width: 70%;
  position: relative;
}

.links{
  display: flex;
  
 
}

.links li {
  margin: 12px 10px;
  padding: 12px 14px;
}

.links li a {
  /* background-color: red; */
  color:rgb(255, 255, 255, 0.7);
  font-size: 1.2rem;
  transition: all .9s;
  text-decoration: none;
  text-transform: capitalize;
}

.links li:hover{
  scale: 1.2;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 50px;
  &>a{
    color: red;
  }
}

/* --News_Item-- */
.news_items .card img{
  height: 250px;
  /* width: 100px; */
}
