*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  overflow-x: hidden;
  text-decoration: none;
  list-style: none;
  transition: all linear .2s;
}

body{
  background-color:rgb(0, 0, 0, 0.9); ;
}

/* --Navbar-- */
.navbar{
  background: rgb(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
 
}

.logo_image{
  width: 100px;
  height: 100px;
  margin: 12px 15px;
  padding: 11px 10px;
  display: flex;
  align-items: center;
}

.logo_image img{
  height: 70%;
  width: 70%;
  position: relative;
}

.links{
  display: flex;
  
 
}

.links li {
  margin: 12px 10px;
  padding: 12px 14px;
}

.links li a {
  /* background-color: red; */
  color:rgb(255, 255, 255, 0.7);
  font-size: 1.2rem;
  transition: all .9s;
  text-decoration: none;
  text-transform: capitalize;
}

.links li:hover{
  scale: 1.2;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 50px;
  &>a{
    color: red;
  }
}

/* --News_Item-- */

.card{
 margin: 12px 13px;
 padding: 12px 14px;
 border: 2px solid rgba(101, 81, 81, 0.436);
 background-color: rgba(222, 235, 238, 0.367);
}

.card img{
  width: 100%;
  height: 100%;
}

.card .card-body .card-title{
  font-size: 1.3rem;
  max-height: 100px;
  text-align: center;
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  color: rgb(255, 255, 255);
}

.card .card-body .card-title:hover{
  color: yellow;
  background-color: black;
  scale: 1.1;
}

.card .card-body .card-text{
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}

